@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;700&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Cairo', sans-serif;
}
a{
    text-decoration: none;    
}
.container{
    min-height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section-title{
    font-size: 4rem;
    font-weight: 400;
    color: rgb(250, 249, 249);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgb(20, 220, 153);
}
body{

    background-image:  linear-gradient(125deg, #fdfdfd 0%, #0e7806 100%);

}
/* style for hero section */
#hero{
    background-image: url(../img/Hero-section-bg.JPG);
    background-size: fill;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: .6;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: .5s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(47, 255, 102);
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}
#hero h1:nth-child(1) span{
    animation-delay: 0.5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
/* button style */
.btn {
    background-color: transparent;
    border: 2px solid rgb(47, 255, 102);
    color: rgb(47, 255, 102);
    padding: 16px 32px;
    text-align: center;
    font-size: xx-large;
    margin: 4px 2px;
    transition: 0.3s;
}
  
.btn:hover {
    background-color: #5ecd62;
    color: white;
}
/* end button style */
/* end of hero section */

/* Skills Section */
#skills .skills{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#skills .skill-top p{
    font-size: 1.9rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    
}
#skills .skill-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
}

#skills .skill-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../img/skills-item-background.jpg);
    background-size: fill;
    margin: 10px 5%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1; /*ensure all the items are same*/
}
#skills .skill-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#skills .skill-item > h2{
    font-size: 2.2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    
}
#skills .skill-item p{
    font-size: 1.8rem;
    color: white;
    text-align: left;
    line-height: 1.9rem;
}
/* End of Skills section */

/* project section */
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info{
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(55deg, #12e0bb 0%, #0e5509 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.5);
}
/* end of projects section */

/* About-me section */
#about .about{
    flex-direction: column-reverse;
    text-align: centre;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    font-size: large;
    color: aliceblue;
    margin-bottom: 20px;
}
#about .col-right .cta{
    color: white;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img{
    position: relative;
    height: 100%;
    width: 100%;
    border: 10px solid white
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 8px solid rgb(21, 92, 7);
    z-index: -1;
}
/* End of About-me Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items {
	max-width: 400px;
	width: 100%;
}
#contact .contact-item {
    background-color: white;
    max-width: 80%;
	/* padding: 20px; */
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #027b31d2;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
    background-image:  linear-gradient(55deg, #d7ee2a 0%, #7de676 100%);;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.8rem;
	line-height: 2rem;
	font-weight: 500;
}
#contact .contact-info a {
	font-size: 1.8rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* footer section */
#footer{
    background-image: linear-gradient(60deg, #6fc7ac 0%, #29ae0c 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
    flex-direction: column;
}
/* end of footer section */

/* keyframes */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color:white;
    }
}
@keyframes text_reveal_name{
    100%{
        color:rgb(47, 255, 102);
        font-weight: 500px;
    }
}
/* end of keyframes */

/* query for tablet */
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    /* hero section */
    #hero h1{
        font-size: 6.3rem;
    }
    /* end of hero section */

    /* Skills section */
    #skills .skill-bottom .skill-item{
        flex-basis: 45%;
        margin: 1.5%;
    }
    /* end of skills section */

    /* projects */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(odd) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
    /* end of projects */

    /* about  */
    #about .about{
        flex-direction: row;
    }
    #about .col-left{
        width: 500px;
        height: 600px;
        padding-left: 60px;
    }
    #about .col-right{
        padding: 30px;
        align-self: center;
        text-align: left;
    }
    #about .col-right h1{
        text-align: left;
    }
    /* end of about */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin: 0;
        justify-content: space-evenly;
	}
	#contact .contact-item {
		margin: 20px;
		flex-direction: row;
	} 
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	} 
	/* End contact  */
}
/* End of query for tablet */

/* query for desktops */
@media only screen and (min-width:1200px){
    #skills .skill-bottom .skill-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
}
/* end of query for desktops */


